@model IEnumerable<MeterReadingsManagement.Models.MeterReading>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Meter Reading Details</h5>


<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="Insert">Create New</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterReadingDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeterReadValue)
                </th>
                <th></th>
                <th>Edit Action</th>
                <th>Delete Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeterReadingDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeterReadValue)
                    </td>
                    <td>
                    <td class="text-center">
                        <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.Id">Edit</a>
                    </td>
                   <td class="text-center">
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>